<?xml version="1.0" encoding="UTF-8"?>
<CustomerCfg>
		<CustomCfg1>
			<Path>/MWare/Basic/SyncTime/SyncType</Path>
			<Value>3</Value>
		</CustomCfg1>
		<CustomCfg2>
			<Path>/MWare/Basic/LocalCfg/NTP/AddrType</Path>
			<Value>2</Value>
		</CustomCfg2>
		<CustomCfg3>
			<Path>/MWare/Basic/LocalCfg/NTP/DomainName</Path>
			<Value>pool.ntp.org</Value>
		</CustomCfg3>
		<CustomCfg4>
			<Path>/MWare/Service/InfoOSD/Channel0/Info1/Base/Enable</Path>
			<Value>1</Value>
		</CustomCfg4>
		<CustomCfg5>
			<Path>/MWare/Service/InfoOSD/Channel0/Info1/Base/TopLeftEX</Path>
			<Value>9000</Value>
		</CustomCfg5>
		<CustomCfg6>
			<Path>/MWare/Service/InfoOSD/Channel0/Info1/Base/TopLeftEY</Path>
			<Value>9000</Value>
		</CustomCfg6>
		<CustomCfg7>
			<Path>/MWare/Service/InfoOSD/Channel0/Info1/Content/Line0/InfoType</Path>
			<Value>1</Value>
		</CustomCfg7>
		<CustomCfg8>
			<Path>/MWare/Service/OSDStyle/DateFormat</Path>
			<Value>257</Value>
		</CustomCfg8>
		<CustomCfg9>
			<Path>/MWare/Security/NatPort/RtspPort</Path>
			<Value>8554</Value>
		</CustomCfg9>
		<CustomCfg10>
			<Path>/MWare/Basic/UpnpPortMap/Enable</Path>
			<Value>1</Value>
		</CustomCfg10>
		<CustomCfg11>
			<Path>/MWare/Basic/UpnpPortMap/MapAuto</Path>
			<Value>0</Value>
		</CustomCfg11>
		<CustomCfg12>
			<Path>/MWare/Basic/UpnpPortMap/RtspPortMap</Path>
			<Value>8554</Value>
		</CustomCfg12>
		<CustomCfg13>
			<Path>/MWare/Service/MotionDetect/Channel0/Area0/Enable</Path>
			<Value>1</Value>
		</CustomCfg13>
		<CustomCfg14>
			<Path>/MWare/Service/MotionDetect/Channel0/Area0/BottomRightEX</Path>
			<Value>9999</Value>
		</CustomCfg14>
		<CustomCfg15>
			<Path>/MWare/Service/MotionDetect/Channel0/Area0/BottomRightEY</Path>
			<Value>9999</Value>
		</CustomCfg15>
</CustomerCfg>
