<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
      tr.collapsed + tr.collapsing {
        display: none;
      }

      tr.summary-row {
        cursor: pointer;
      }

      tr[aria-expanded="true"] td.toggle span:after {
        content: "-";
      }

      tr:not([aria-expanded="true"]) td.toggle span:after {
        content: "+";
      }

      td.details {
        background-color: lightgray;
      }

      td.details td.detail-label {
        font-weight: bold;
        background-color: lightblue;
      }

      td.details td.nested-label {
        font-weight: bold;
      }

      ul.valid-ips {
        list-style: none;
        padding-left: 0;
      }

    </style>
  </head>
  <body data-bs-theme="light">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TLS PCAP Analyzer Report</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <a href="https://github.com/mmacfadden/csc-842-sm23/tree/master/cycle-8" target="_blank"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </nav>
    
    <section class="container">
      <h1 class="mt-4">Report Info</h1>
      <table class="table table-bordered w-auto">
        <tr>
          <td class="fw-bold">PCAP File:</td><td>$pcap_file</td>
        </tr>
        <tr>
          <td class="fw-bold">Report Generated:</td><td>$report_time</td>
        </tr>
        <tr>
          <td class="fw-bold">TLS Requests Analyzed:</td><td>$total_requests</td>
        </tr>
      </table>
    </section>

    <section class="container">
      <h1 class="mt-4">TLS Requests</h1>
      
      <table class="table table-bordered w-auto">
        <thead>
          <th scope="col"></th>
          <th>Hostname</th>
          <th>IP Address</th>
          <th>Subject</th>
          <th>Issues</th>
        </thead>
        <tbody>
          #foreach ($request in $tls_requests)
          #set( $H = '#' )
          <tr data-bs-toggle="collapse" data-bs-target="$H$request.uuid" class="summary-row">
            <td class="toggle"><span></span></td>
            <td>$request.hostname</td>
            <td>$request.request_ip</td>
            <td>$request.cert_chain.end_entity_cert().subject()</td>
            <td>
              #if($request.cert_error.code)
              <span class="badge bg-danger">$request.cert_error.code</span>
              #end
            </td>
          </tr>
          <tr class="collapse accordion-collapse" id="$request.uuid" data-bs-parent=".table">
            <td colspan="5" class="p-4 details">
              <table class="table table-bordered w-auto">
                <tr><td class="detail-label">Hostname:</td><td>$request.hostname</td></tr>
                <tr><td class="detail-label">IP Address:</td><td>$request.request_ip</td></tr>
                <tr>
                  <td class="detail-label">Valid IP Addresses:</td>
                  <td>
                    <ul class="valid-ips">
                      #foreach ($ip in $request.valid_ips_for_hostname)
                      <li>$ip</li>
                      #end
                    </ul>
                  </td>
                </tr>
                <tr><td class="detail-label">Valid IP for Hostname:</td><td>$request.valid_ip_for_hostname</td></tr>
                #if($request.cert_error)
                <tr><td class="detail-label">Cert Validation Error:</td><td>$request.cert_error.msg</td></tr>
                #end

                #if ($request.virus_total_ip_record)
                <tr><td class="detail-label">Virus Total Results:</td>
                  <td>
                    <ul>
                    #set($vt_stats = $request.virus_total_ip_record.data.attributes.last_analysis_stats)
                    #foreach ($key in $vt_stats.keys())
                    <li>$key: $vt_stats.get($key)</li>
                    #end
                    </ul>
                    <a href="https://www.virustotal.com/gui/url/$request.virus_total_ip_record.data.id/detection" target="_blank">Virus Total Report</a>
                  </td>
                </tr>
                #end
                <tr>
                  <td class="detail-label">Certificate Chain:</td>
                  <td>
                    #foreach ($cert in $request.cert_chain.all_certs)
                    <table class="table table-bordered">
                      <tr><td class="nested-label">Subject</td><td>$cert.subject()</td></tr>
                      <tr><td class="nested-label">Issuer</td><td>$cert.issuer()</td></tr>
                      <tr><td class="nested-label">Not Before</td><td>$cert.not_valid_before()</td></tr>
                      <tr><td class="nested-label">Not After</td><td>$cert.not_valid_after()</td></tr>
                      <tr>
                        <td class="nested-label">Certificate PEM:</td>
                        <td>
                          <pre>$cert.pem()</pre>
                        </td>
                      </tr>
                    </table>  
                    #end
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          #end
        </tbody>
      </table>
    </section>
  </body>
</html>